@media screen and (min-width: 600px){
    #main{
        display: flex;
    }
    #main2{
        margin-left: 5rem;
    }
    .btnn{
        margin-left: 5rem;
        width: 20rem;
    }
}
@media screen and (max-width:600px) {
#main2{
    margin-top: 3rem;
}
#main{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.btnn{
    width: 22rem;
}
}
.bord{
    border: none;
}
.bord1{
    border: none;
    background: transparent;
}
 .in1::placeholder{
    color: white;
 }
